<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises</title>
    <!-- Uključivanje Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        h1 {
            margin-bottom: 30px;
        }
        .list-group-item {
            text-align: center; /* Centriranje teksta unutar stavki liste */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Exercises</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-primary" href="{% url 'multiplication_quiz' %}">Multiplication Quiz</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary" href="{% url 'addition_quiz' %}">Addition Quiz</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary" href="{% url 'subtraction_quiz' %}">Subtraction Quiz</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary" href="{% url 'division_quiz' %}">Division Quiz</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary" href="{% url 'irish_quiz' %}">Guess Irish Word</a>
            </li>
        </ul>
    </div>

    <!-- Uključivanje Bootstrap JS i jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
